<form class="pure-form pure-form-aligned" action="/manage/step/2" method="post">
    <legend>Constitution & Social Media</legend>
    <fieldset>
        <div class="pure-control-group">
            <label for="constitution">Constitution</label>
            <textarea id="constitution" name="constitution" placeholder="Constitution for {{ user['_o-name'] }}" required="true" maxlength="2000" rows="10" cols="58"></textarea>
        </div>

        <div class="pure-control-group">
            <label for="facebook">Facebook Page</label>
        	% if user['facebook'] != None and len(user['facebook']) > 0:
            	<input id="facebook" name="facebook" type="text" placeholder="Facebook Page URL" maxlength="250" autocomplete="off" value='{{ user["facebook"] }}'>
            % else:
            	<input id="facebook" name="facebook" type="text" placeholder="Facebook Page URL" maxlength="250" autocomplete="off">
            % end
        </div>

        <div class="pure-control-group">
            <label for="twitter">Twitter Handle</label>
        	% if user['twitter'] != None and len(user['twitter']) > 0:
            	<input id="twitter" name="twitter" type="text" placeholder="Twitter Handle" maxlength="250" autocomplete="off" value='{{ user["twitter"] }}'>
            % else:
            	<input id="twitter" name="twitter" type="text" placeholder="Twitter Handle" maxlength="250" autocomplete="off">
            % end
        </div>

        <div class="pure-control-group">
            <label for="googleplus">Google+ Page</label>
        	% if user['googleplus'] != None and len(user['googleplus']) > 0:
            	<input id="googleplus" name="googleplus" type="text" placeholder="Google+ Page URL" maxlength="250" autocomplete="off" value='{{ user["googleplus"] }}'>
            % else:
            	<input id="googleplus" name="googleplus" type="text" placeholder="Google+ Page URL" maxlength="250" autocomplete="off">
            % end
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-active">Update Constitution and Social Media</button>
        </div>
    </fieldset>
</form>

% if user['_const'] != None:
<script>
var constitution = "{{ constitution }}";
document.getElementById("constitution").value = constitution.split('**SKIP**').join('\n');
</script>
% end