<ul id="webChoices_list">
	<a href="/manage/step/5.1"><li>Host with CampusQS<br /> <i class="fa fa-cloud-upload"></i></li></a>
	<a href="/manage/step/5.2"><li>Export your site as .zip<br /> <i class="fa fa-file"></i></li></a>
	<a href="/manage/step/5.3"><li>Export your site as .tar.gz<br /> <i class="fa fa-download"></i></li></a>
	<a href="#"><li style="color: silver; opacity: 0.5; cursor: not-allowed;" title="Coming soon...">Host with GitHub Pages<br /> <i class="fa fa-github-square" style="color: silver;"></i></li></a>
</ul>