<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Campus QuickStart lets students get their club or organization started with a website and social media.">
    <meta name="author" content="Gabriel Ochoa, Alan Plotko">
    <link rel="shortcut icon" href="static/assets/ico/favicon.png">

    <title>Campus QuickStart</title>

    <!-- Bootstrap core CSS -->
    <link href="static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="static/assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/assets/css/main.css" rel="stylesheet">
    <link href="http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/forms-min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Campus QuickStart</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
				<h1>Campus QuickStart</h1>
        		<h1 style="font-size: 36px; margin: 40px 0 0 0;">We'll take care of your organization's online presence, <br />so you can focus on the big picture.</h1><br />

        		<h2 style="font-size: 36px;">Let's get started!</h2><br />

				<a href="#form">
					<span class="fa-stack fa-2x">
					  <i class="fa fa-angle-double-down fa-stack-1x" style="color: #fff;"></i>
					  <i class="fa fa-circle-o fa-stack-2x" style="color: #fff;"></i>
					</span>
				</a>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->


	<div id="form" name="form" class="container w" autocomplete="off">
		<div class="row centered">
			<h1 id="greeting">Welcome!</h1>
			<form class="pure-form pure-form-aligned" action="/">
			    <fieldset>
			        <div class="pure-control-group">
			            <label for="full-name">Your Full Name</label>
			            <input id="full-name" type="text" placeholder="Your Full Name" required="true" autocomplete="off">
			        </div>

			        <div class="pure-control-group">
			            <div id="email-alert">Please type in a valid email address.</div><br />
			            <label for="email">Your Email Address</label>
			            <input id="email" type="email" placeholder="Your Email Address" required="true" autocomplete="off">
			        </div>

			        <div class="pure-control-group">
			            <label for="organization-name">Organization Name</label>
			            <input id="organization-name" type="text" placeholder="Organization Name" required="true" autocomplete="off">
			        </div>

			   		<div class="pure-control-group">
			            <label for="school-name">HS/University Name</label>
			            <input id="school-name" type="text" placeholder="HS/University Name" required="true" autocomplete="off">
			        </div>

			        <div class="pure-control-group">
			            <div id="description-alert">Briefly summarize what your organization is about.</div><br />
			            <label for="description">Organization Description</label>
			            <textarea id="description" placeholder="Description" required="true"></textarea>
			        </div>

			        <div class="pure-controls">
			            <button id="submit-button" type="submit" class="pure-button pure-button-primary" disabled="true">Create Organization</button>
			        </div>
			    </fieldset>
			</form>
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->

	<!-- FEATURE SECTION -->
	<!-- <div class="container wb">
		<div class="row centered">
			<br><br>
			<div class="col-lg-8 col-lg-offset-2">
			<p><br/><br/></p>
			</div>
			<div class="col-lg-2"></div>
			<div class="col-lg-10 col-lg-offset-1">
				<img class="img-responsive" src="static/assets/img/munter.png" alt="">
			</div> -->
		<!--</div>--><!-- row -->
	<!--</div>--><!-- container -->

	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>WE'RE HERE TO HELP</h4>
					<p>We believe students have great ideas that could help further develop the campus community. However, for those without the technical experience, these ideas go undiscovered. This is where Campus QuickStart comes in. We'll help you develop your online presence, so you can be at ease and focus on the rest.</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- r wrap -->
	
	
	<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row centered">
				<p style="color: #fff;">© 2014 Gabriel Ochoa, Alan Plotko. <br> Made with ♥ at <a href="http://2014f.pennapps.com/">PennAppsX</a></p>
				<!--<a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-dribbble"></i></a>-->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Footer -->

	<!-- MODAL FOR CONTACT -->
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
	      </div>
	      <div class="modal-body">
		        <div class="row centered">
		        	<p>We are available 24/7, so don't hesitate <br/>to contact us at aplotko1@binghamton.edu.</p>
		        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>
    <script>
    $(function() {
	  $('a[href*=#]:not([href=#])').click(function() {
	    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
	      var target = $(this.hash);
	      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	      if (target.length) {
	        $('html,body').animate({
	          scrollTop: target.offset().top
	        }, 1000);
	        return false;
	      }
	    }
	  });
	});

	$('#full-name').on('input', function() {
	  	if($('#full-name').val().length > ($('#full-name').val().split(" ")[0].length + 1) && $('#full-name').val().split(" ").length == 2) {
	    	$('#greeting').text('Hi there, ' + $('#full-name').val().split(" ")[0] + '!');
		}
		else {
	    	$('#greeting').text('Welcome!');
		}
	});

	$('#email').on('input', function() {
	  	if(isValidEmailAddress($('#email').val())) {
	    	$('#email-alert').text('Your username will be ' + $('#email').val().split("@")[0] + '.').css('color', 'green');
		}
		else {
	    	$('#email-alert').text('Please type in a valid email address.').css('color', 'red');
		}
	});

	$('#organization-name').on('input', function() {
	  	if($('#description').val().length >= 0 && $('#description').val().length < 50) {
	    	$('#submit-button').text('Let\'s get started with ' + $('#organization-name').val() + '!');
	    	if($('#organization-name').val().length < 30) {
				$('#description-alert').text("Briefly summarize what " + $('#organization-name').val() + " is about.").css('color', 'red');
			}
			else {
				$('#description-alert').text("Briefly summarize what your organization is about.").css('color', 'red');
			}
		}
	});

	$('#description').on('input', function() {
	  	if($('#description').val().length > 50 && $('#description').val().length < 500) {
	    	$('#description-alert').text("Awesome!").css('color', 'green');
		}
		else {
			if($('#organization-name').val().length < 30) {
				$('#description-alert').text("Briefly summarize what " + $('#organization-name').val() + " is about.").css('color', 'red');
			}
			else {
				$('#description-alert').text("Briefly summarize what your organization is about.").css('color', 'red');
			}
		}
	});

	$(document).ready(function (){
	    validate();
	    $('#full-name, #email, #organization-name, #school-name, #description').change(validate);
	});

	function validate(){
	    if ($('#full-name').val().length   			>   0   	&& 
	    	$('#full-name').val().length   			<   50  	&&
	        isValidEmailAddress($('#email').val()) 				&&
	        $('#organization-name').val().length    >   0		&&
	        $('#organization-name').val().length    <   100		&&
	        $('#school-name').val().length    		>   0		&&
	        $('#school-name').val().length    		<   100		&&
	        $('#description').val().length    		>   50		&&
	        $('#description').val().length    		<   500			) {
	        
	        $("#submit-button").prop("disabled", false);
	    }
	    else {
	        $("#submit-button").prop("disabled", true);
	    }
	}

	function isValidEmailAddress(emailAddress) {
    	var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
    	return pattern.test(emailAddress);
	};
	</script>
  </body>
</html>
